# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.npm
package-lock.json
yarn.lock
# Include yarn.lock if using Yarn

# testing
/coverage
/.nyc_output
/cypress/screenshots
/cypress/videos

# next.js
/.next/
/out/
.swc/

# production
/build
/dist

# misc
.DS_Store
*.pem
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.sublime-project
*.sublime-workspace

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# local env files
.env
.env*.local
.env.development
.env.test
.env.production
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# font scripts and resources
/fonts_scripts/

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Storybook
/storybook-static

# Cache
.eslintcache
.stylelintcache
.cache
tsconfig.tsbuildinfo

# Turbo
.turbo
